@import '~office-ui-fabric-react/dist/sass/References.scss';
/*
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-theme-colors-in-your-customizations

--bodyText
--link
--linkHovered

.\sgart-spfx-configurable-view-webpart\node_modules\office-ui-fabric-react\dist\sass\_semanticSlots.scss
*/
/*
https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-theming/sharepoint-site-theming-json-schema

Orange theme
{ 
    themeDarker: '#6f2d09', 
    themeDark: '#8d390b', 
    themeDarkAlt: '#b5490f', 
    themePrimary: '#ca5010',   rgb(202, 80, 16) 
    themeSecondary: '#e55c12', 
    themeTertiary: '#f6b28d', 
    themeLight: '#fbdac9', 
    themeLighter: '#fdede4', 
    themeLighterAlt: '#fef6f1', 
    black: '#000000', 
    neutralDark: '#212121', 
    neutralPrimary: '#333', 
    neutralPrimaryAlt: '#3c3c3c', 
    neutralSecondary: '#666666', 
    neutralTertiary: '#a6a6a6', 
    neutralTertiaryAlt: '#c8c8c8', 
    neutralLight: '#eaeaea', 
    neutralLighter: '#f4f4f4', 
    neutralLighterAlt: '#f8f8f8', 
    white: '#fff', 
    neutralQuaternaryAlt: '#dadada', 
    neutralQuaternary: '#d0d0d0', 
    neutralSecondaryAlt: '#767676', 
    primaryBackground: '#fff', 
    primaryText: '#333',
    accent: '#986f0b'
}
*/

.configurableView {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.title {
  @include ms-fontSize-xl;
  @include ms-fontWeight-semibold;
  text-align: left;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  margin: 0 0 10px 0;
}

.debugInfo {
  margin-top: 20px;
}


.grid {
  @include ms-Grid;
  padding: 0;
}

.gridRow {
  @include ms-Grid-row;
  padding: 0;
}

.gridCol1 {
  @include ms-Grid-col;
  @include ms-sm12;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gridCol2 {
  @include ms-Grid-col;
  @include ms-xl6;
  @include ms-sm12;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gridCol3 {
  @include ms-Grid-col;
  @include ms-xl4;
  @include ms-sm12;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gridCol4 {
  @include ms-Grid-col;
  @include ms-xl3;
  @include ms-sm12;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gridCol5 {
  @include ms-Grid-col;
  @include ms-sm12;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (min-width: 1024px) {
      width: 20%;
  }
}

.gridCol6 {
  @include ms-Grid-col;
  @include ms-xl2;
  @include ms-sm12;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btnMax {
  height: 60px;
  width: 100%;
  i {
    font-size: 22px;
  }
  span[class~='ms-Button-label'] {
    text-align: left;
  }
}

.cardDateOnly {
  div[class~="ms-DocumentCardActivity-avatar"], div[class~="ms-DocumentCardActivity-name"] {
     display: none;
  }
  div[class~="ms-DocumentCardActivity-details"] {
    left: 16px;
 }
}

.colorPrimary {
  color: "[theme:themePrimary, default: #0078d4]";
}

.borderColorPrimary {
  border-color: "[theme:themePrimary, default: #0078d4]";
}

/*
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
*/
/* VIEW MODEL */

.viewModelBase {
  :global{
    .sgart-spfx-cv-button {
      box-sizing: border-box;
      background-color: "[theme:bodyBackground, default: #ffffff]";
      color: "[theme:bodyText, default: #323130]";
      color: var(--bodyText);
      position: relative;
      display: flex;
      align-items: center;
      @include ms-fontSize-14;
      font-weight: 400;
      width: 100%;
      height: 62px;
      outline: 0px;
      overflow: hidden;
      border-width: 1px;
      border-style: solid;
      border-color: "[theme:themePrimary, default: #0078d4]";
      border-radius: "[theme:roundedCorner2, default: 2px]";
      user-select: text;
      cursor: pointer;
      text-decoration: none;
      padding: 0;
      margin: 0;

      &:hover {
        text-decoration: none;
        background-color: "[theme:bodyStandoutBackground, default: #faf9f8]";
        border-color: "[theme:themeDarker, default: #004578]";
      }

      &.sgart-spfx-cv-evidence {
        background-color: "[theme:primaryButtonBackground, default: #0078d4]";
        color: "[theme:primaryButtonText, default: #ffffff]";
        
        &:hover {
          background-color: "[theme:primaryButtonBackgroundHovered, default: #106ebe]";
        }

        .sgart-spfx-cv-icon-container {
          i {
            color: "[theme:primaryButtonText, default: #ffffff]";
          }
        }

        .sgart-spfx-cv-description {
          color: "[theme:primaryButtonText, default: #ffffff]";
        }
      }

      &.sgart-spfx-cv-disabled {
        background-color: "[theme:bodyBackground, default: #ffffff]";
        border-color: "[theme:buttonBorderDisabled, default: #f3f2f1]";
        cursor: default;

        &:hover {
          background-color: "[theme:bodyBackground, default: #ffffff]";
          color: "[theme:bodyText, default: #323130]";
          border-color: "[theme:buttonBorderDisabled, default: #f3f2f1]";
        }
      }

      &.sgart-spfx-cv-no-icon {
        .sgart-spfx-cv-icon-container {
          display: none;
        }

        .sgart-spfx-cv-text-container {
          padding-left: 12px;
        }
      }

      &.sgart-spfx-cv-image {
        .sgart-spfx-cv-text-container {
          padding-left: 12px;
        }
      }

    }

    .sgart-spfx-cv-icon-container {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 46px;
      min-width: 46px;
      height: 62px;
      margin: 0;
      padding: 0;
      background-color: "[theme:bodyStandoutBackground, default: #faf9f8]";
      border: 0;
      overflow: hidden;

      i {
        color: "[theme:bodyText, default: #323130]";
        width: 22px;
        height: 22px;
        font-size: 22px;
      }

      img {
        box-sizing: border-box;
        display: block;
        opacity: 1;
        width: auto;
        height: 100%;
      }
    }  

    .sgart-spfx-cv-text-container {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 100%;
      padding: 10px 12px;
    }

    .sgart-spfx-cv-description {
      box-sizing: border-box;
      display: none;
      /*color: "[theme:bodySubtext, default: #605e5c]";*/
      color: "[theme:bodyText, default: #323130]";
      @include ms-fontSize-12;
    }

    .sgart-spfx-cv-text {
      box-sizing: border-box;
    }

    .sgart-spfx-cv-button-text {
      display: none;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .sgart-spfx-cv-evidence-flag {
      box-sizing: border-box;
      display: none;
    }
  }
}

.viewModelBase.viewModelButtonMini {
  :global {

    .sgart-spfx-cv-button {
      justify-content: center;
      height: 32px;
    }

    .sgart-spfx-cv-icon-container {
      display: none;
    }

    .sgart-spfx-cv-text-container {
      padding: 0 12px;
    }
  }
}

.viewModelBase.viewModelButtonIcon {
  :global {

    .sgart-spfx-cv-icon-container {
      img {
        width: auto;
        height: 22px;
      }
    }
  }
}

.viewModelBase.viewModelButtonMax {
  :global {

    .sgart-spfx-cv-button {
      height: 93px;
    }

    .sgart-spfx-cv-icon-container {
      width: 93px;
      min-width: 93px;
      height: 93px;

      i {
        width: 32px;
        height: 32px;
        font-size: 32px;
      }
    }

    .sgart-spfx-cv-text-container {
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }

    .sgart-spfx-cv-text {
      display: block;
      @include ms-fontSize-16;
    }

    .sgart-spfx-cv-description {
      display: block;
    }

  }
}

.viewModelBase.viewModelButtonImageFull {
  :global {

    .sgart-spfx-cv-button {

      &.sgart-spfx-cv-evidence {
        background-color: "[theme:bodyBackground, default: #ffffff]";
        color: "[theme:bodyText, default: #323130]";
        color: var(--bodyText);

        .sgart-spfx-cv-evidence-flag {
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 0;
          height: 0;
          border-bottom: 20px solid red;
          border-left: 20px solid transparent;
          border-bottom-color: "[theme:themePrimary, default: #0078d4]"
        }
      }
    }

    .sgart-spfx-cv-icon-container {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      
      img {
        width: 100%;
        height: auto;

      }

    }

    .sgart-spfx-cv-text-container {
      justify-content: center;
      padding: 0;
      z-index: 1;
    }

    .sgart-spfx-cv-text {
      @include ms-fontSize-16;
      background-color: "[theme:bodyStandoutBackground, default: #faf9f8]";
      padding: 5px 12px;
    }

  }
}

.viewModelBase.viewModelCard {
  :global {

    .sgart-spfx-cv-button {
      flex-direction: column;
      height: auto;
      border-color: "[theme:bodyDivider, default: #edebe9]";
      border-radius: 0;
      background-color: "[theme:bodyBackground, default: #ffffff]";

      &:hover {
        background-color: unset;
        border-color: "[theme:buttonBackgroundChecked, default: #c8c6c4]";
      }

      &.sgart-spfx-cv-evidence {
        border-color: "[theme:themePrimary, default: #0078d4]";

        &:hover {
          border-color :"[theme:linkHovered, default: #004578]";
        }

        .sgart-spfx-cv-text {
          color: "[theme:themePrimary, default: #0078d4]";
        }

        .sgart-spfx-cv-description {
          color: "[theme:bodyText, default: #323130]";
          color: var(--bodyText);
        }
      }
    }

    .sgart-spfx-cv-icon-container {
      width: 100%;
      height: 121px;
      border-bottom: 1px solid transparent;
      border-bottom-color: "[theme:bodyDivider, default: #edebe9]";
    }

    .sgart-spfx-cv-text-container {
      flex-direction: column;
      padding: 0;
      align-items: flex-start;
    }
    

    .sgart-spfx-cv-text {
      @include ms-fontSize-18;
      height: 54px;
      padding: 8px 16px;
    }
    
    .sgart-spfx-cv-description {
      display: block;
      @include ms-fontSize-14;
      height: 61px;
      padding: 8px 16px;
    }

  }
}

.viewModelBase.viewModelListAlternate > .gridRow > div {
  padding-top: 0;
  padding-bottom: 0;
}

.viewModelBase.viewModelListAlternate > .gridRow > div {
  &:nth-child(odd) {

    :global {
      .sgart-spfx-cv-button  {
        flex-direction: row-reverse;
      }
    }
  }
}

.viewModelBase.viewModelListAlternate {
  :global {

    .sgart-spfx-cv-button {
      border: 0;
      height: 300px;

      
      &:hover {
        text-decoration: none;
        background-color: "[theme:bodyStandoutBackground, default: #faf9f8]";
        border-width: 1px;
        border-style: solid;
        border-color: "[theme:themeDarker, default: #004578]";
      }

      &.sgart-spfx-cv-evidence {
        background-color: inherit;
        color: inherit;

        .sgart-spfx-cv-text {
          color: "[theme:themePrimary, default: #0078d4]";
        }
      }
    }

    .sgart-spfx-cv-icon-container {
      width: 58%;
      min-width: 58%;
      height: 100%;
    }

    .sgart-spfx-cv-text-container {
      align-items: flex-start;
      padding: 30px;
      flex-direction: column;
    }

    .sgart-spfx-cv-text {
      @include ms-fontSize-28;
      font-weight: bold;
      flex-grow: 1;
    }

    .sgart-spfx-cv-button-text {
      display: flex;
      font-weight: bold;
      color: "[theme:themePrimary, default: #0078d4]";
    }
  }
}
/*
color: rgb(50, 49, 48); #323130 
border: 1px solid rgb(202, 80, 16); #CA5010 
rgb(250, 249, 248) #faf9f8
rgb(113, 45, 9) #712d09
rgb(0, 69, 120) #004578
rgb(237, 235, 233) #edebe9
rgb(200, 198, 196) #c8c6c4

*/
